<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="City Cycle"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BikeRentSadeesh"
        android:windowSoftInputMode="adjustResize"
        tools:targetApi="31">
        <activity
            android:name=".EditProfilePhotoActivity"
            android:exported="false" />
        <activity
            android:name=".Edit_profile_pic"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".Rent_Activity"
            android:exported="false" />
        <activity
            android:name=".Edit_picture"
            android:exported="false" />
        <activity
            android:name=".Edit_contact"
            android:exported="false" />
        <activity
            android:name=".Edit_username"
            android:exported="false" />
        <activity
            android:name=".Edit_profile_details"
            android:exported="false" />
        <activity
            android:name=".WelcomeActivity"
            android:exported="false" />

        <meta-data
            android:name="android.max_aspect"
            android:value="2.1" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Startup_page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>